//- 
 3D tree using processing.js
 Grant Jenkins, June 2022
 
 See my other programs/games/animations, etc. on Khan Academy
 https://www.khanacademy.org/profile/grantjenkins/projects

main
  .container
    canvas.program